<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sasha's app{%  endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  </head>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="nav-link active" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about/">Press for meme</a>
      </ul>
    </div>
  </div>
</nav>
  <style>
body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
p {text-align:center;font-family:Georgia, serif;font-size:30px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
  <body>
  {% block body %}
  <p>Hello, stranger!</p>



  </div>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  {% endblock %}
  </body>


</html>